body{
    background: #04e9b0;
    color: #00000098;
}
h1{
    text-align: left;
    font-size: 18pt;
    font-style: normal;
    color: blue;
}
h2{
    text-align: left;
    font-size: 14pt;
    font-style: italic;
    color: rgb(226, 179, 25)
}
h3{
    text-align: left;
    font-size: 14pt;
    font-style: italic;
    color: rgb(245, 20, 189)
}
p{
    text-align: center;
    font-size: 14pt;
    font-style: normal;
    font-family: Cordia New;
}
.normal{
    font-size: 12pt;
    text-align: left;
    color: rgb(2, 248, 236);
}
p.big{
    font-size: 16pt;
    text-align: center;
    color: rgb(168, 15, 46);
}
.bigboom{
    font-size: 16pt;
    text-align: center;
    color: rgb(0, 238, 255);
}
